mixin progress()
  script
    | progressJs().setOptions({overlayMode: true, theme: 'custom'}).start();
    | if(window.attachEvent) {
    |     window.attachEvent('onload', function(){ progressJs().end(); });
    | } else {
    |     if(window.onload) {
    |         var curronload = window.onload;
    |         var newonload = function() {
    |             curronload();
    |             progressJs().end();
    |         };
    |         window.onload = newonload;
    |     } else {
    |         window.onload = function(){ progressJs().end(); };
    |     }
    | }
