mixin about()
  section#about.about-section
    .container
      .about-card
        header.about-card__header
          h2 About me
          h4 Curabitur accumsan nulla ut velit facilisis
        .about-card__info
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla lacinia nulla vel ornare interdum. Donec posuere leo ut justo imperdiet, ut congue lorem faucibus. Aliquam fringilla felis at est tincidunt efficitur. Phasellus enim ipsum, porttitor et urna ac, finibus finibus eros.
          blockquote
            p Donec non tincidunt massa. Vestibulum vel ultrices velit. Integer eget nibh vitae velit condimentum viverra vel eget diam. Ut facilisis finibus nisi ac feugiat. Nullam consectetur neque in est posuere feugiat et nec arcu. Pellentesque sit amet sapien lorem.
          p Nunc non venenatis odio. Nullam id neque et lectus suscipit mattis ac a ante. Suspendisse potenti. Aliquam in nulla sem. Vivamus sodales malesuada leo, sit amet cursus nunc vulputate aliquet. Proin porttitor ex facilisis aliquam efficitur. Vestibulum scelerisque nisl ac ex rutrum, quis aliquet nibh ultrices.
          p.about-card__info-status
            span Current status:
            |  Available for hire
