mixin about()
  section#about.about-section
    .container
      .about-card
        header.about-card__header
          h2 About Me
          h4 Versatile Web Developer with a Discerning Eye
        .about-card__info
          p Full Stack Web Developer with over four years of experience designing/managing media campaigns and administering IT support. Strengths include pragmatic problem-solving, clear communication, and attention to detail. Managed multiple projects including the production of print/digital media for fundraising campaign totaling in $2.3 million in 2018. 
          br
          p Educated at UT Austin where I earned a Certification in Full-Stack Web Development. Skilled in JavaScript, jQuery, Node, MySQL, Express, MongoDB, React and HTML/CSS. Passionate about building meaningful applications with attention to readability and scalability as well as learning new technologies and languages. Multi-talented professional who works well independently as well as on teams.
          //- blockquote
          //-   p Donec non tincidunt massa. Vestibulum vel ultrices velit. Integer eget nibh vitae velit condimentum viverra vel eget diam. Ut facilisis finibus nisi ac feugiat. Nullam consectetur neque in est posuere feugiat et nec arcu. Pellentesque sit amet sapien lorem.
          p.about-card__info-status
            span Current status:
            |  Available for hire
