mixin contacts()
  #contacts.contacts-section
    .container
      section.contact-card
        header.contact-card__header
          h2 Contact Me
          h4 Feel free to reach out!
        .contact-info
          .contact-info__logo MC
          .contact-info__group
            .contact-info__additional
              p If you have any questions, comments 
              p or would like to chat about web development,
              p shoot me an email or add me on LinkedIn.
            .contact-info__vcard.vcard
              h4.fn.org Michelle Collums
              p.role.title Full-Stack Web Developer
              p.icon.icon_location
                a.adr.js-anchor(href="#gmap")
                  span.country-name United States
                  | ,&nbsp;
                  span.locality Austin, TX
              p.icon.icon_mail
                a.email(href="collumsmichelle@gmail.com") collumsmichelle@gmail.com
              p.icon.icon_phone
                a.email(href="tel:2106215949") 210-621-5949
            //- ul.contact-info__social
            //-   li
            //-     a.icon.icon_fb(rel="nofollow" href="") I'm on Facebook
            //-   li
            //-     a.icon.icon_twi(rel="nofollow") My Twitter
            //-   li
            //-     a.icon.icon_gplus(rel="nofollow") I'm on Google+
            //-   li
            //-     a.icon.icon_vk(rel="nofollow") I'm in Vk
            //-   li
            //-     a.icon.icon_in(rel="nofollow") My Linkedin profile
            //-   li
            //-     a.icon.icon_rss(rel="nofollow") RSS feed... maybe
    #gmap.gmap
