mixin contacts()
  #contacts.contacts-section
    .container
      section.contact-card
        header.contact-card__header
          h2 Contact information
          h4 Mauris leo nisl, malesuada id faucibus non, gravida sit amet lectus
        .contact-info
          .contact-info__logo JD
          .contact-info__group
            .contact-info__additional
              p Donec lorem ante, efficitur?
              p Sed aliquet sagittis odio commodo facilisis?
              p Vivamus vel lacus tellus?
            .contact-info__vcard.vcard
              h4.fn.org John Doe
              p.role.title Project management consultant
              p.icon.icon_location
                a.adr.js-anchor(href="#gmap")
                  span.country-name CountryName
                  | ,&nbsp;
                  span.locality CityName
              p.icon.icon_mail
                a.email(href="john.doe@example.com") john.doe@example.com
              p.icon.icon_phone
                a.email(href="tel:1111111111") 111-111-11-11
            ul.contact-info__social
              li
                a.icon.icon_fb(rel="nofollow") I'm on Facebook
              li
                a.icon.icon_twi(rel="nofollow") My Twitter
              li
                a.icon.icon_gplus(rel="nofollow") I'm on Google+
              li
                a.icon.icon_vk(rel="nofollow") I'm in Vk
              li
                a.icon.icon_in(rel="nofollow") My Linkedin profile
              li
                a.icon.icon_rss(rel="nofollow") RSS feed... maybe
    #gmap.gmap
