mixin footer()
  footer.main-footer
    .container
      p.main-footer__copyright
        | &copy;&nbsp;
        span John Doe
      a.main-footer__gotop.icon.icon_gotop.js-anchor(href="#home") To top!
      p.main-footer__links
        | Designed by&nbsp;
        a(href="http://orlovmax.com") Maxim Orlov
