mixin home()
  section#home.home-section
    .home-section__bg
    .home-section__overlay
      .container
        header.home-section__header
          h1 John Doe
          h2 Project management consultant.
