mixin process()
  section#process.common-section
    .container
      header.common-section__header
        h2 How it works
        h4 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur aliquam interdum tortor
      .grid-container
        ul.process
          li.process__step.process__step_research
            .process__step-icon.icon.icon_research.is-active
          li.process__step-info.process__step-info_research.is-active
            h3
              span Step 1
              |  &mdash; Quisque a quam ante
            p Proin mattis ex vel turpis interdum, in fringilla nibh tristique. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras id ipsum in diam aliquam sodales.
          li.process__step.process__step_develop
            .process__step-icon.icon.icon_develop
          li.process__step-info.process__step-info_develop
            h3
              span Step 2
              |  &mdash; Aliquam erat volutpat
            p Nullam laoreet lacus et ante consequat pharetra. Nam non felis tincidunt, auctor eros at, semper eros. Mauris feugiat a nibh et luctus.
          li.process__step.process__step_deploy
            .process__step-icon.icon.icon_deploy
          li.process__step-info.process__step-info_deploy
            h3
              span Step 3
              |  &mdash; Curabitur accumsan nulla
            p Donec lobortis, est iaculis rutrum feugiat, orci est ultrices mauris, in rhoncus dolor eros non sem. Duis feugiat, metus eu ullamcorper accumsan, massa risus dictum nisi, sit amet ultricies lectus nisl eu libero.
          li.process__step.process__step_deliver
            .process__step-icon.icon.icon_deliver
          li.process__step-info.process__step-info_deliver
            h3
              span Step 4
              |  &mdash; Fusce aliquam lorem
            p Donec non ligula imperdiet, tincidunt quam ut, pellentesque nisi. Quisque est ante, faucibus a urna nec, vehicula pellentesque lectus.
