mixin projects()
  section#projects.common-section
    header.common-section__header
      h2 Projects
      p Feel free to check out some of my past projects 

    .projects-wrap
      .grid-container
        .projects
          figure.projects__item
            img(src="static/images/projects/trivia-war.png" alt="Trivia War - A Multiplayer Trivia Game")
            figcaption
              a.icon.icon_link(href="https://immense-spire-76883.herokuapp.com/" target="_blank") Trivia War - A PvP trivia game with Passport, Socket.io, and a full MERN stack. I developed the "live" aspect of the game by tying Socket.io to the server and client-side pages. I also developed the overall game logic. 
          figure.projects__item
            img(src="static/images/projects/cater2me.png" alt="Cater2Me")
            figcaption
              a.icon.icon_link(href="https://cater2me-19283.herokuapp.com/" target="_blank") Cater2Me - A service that connects catering vendors with events that users can create. I built the entire frontend using Handlebars and Bootstrap as well as vendor routes.
          figure.projects__item
            img(src="static/images/projects/cinememes.png" alt="CineMemes")
            figcaption
              a.icon.icon_link(href="https://yw2242.github.io/GroupProject1/" rel="nofollow" target="_blank") CineMemes - Team Project using the Reddit and OMDB APIs. I developed the reddit API and overall look.
          figure.projects__item
            img(src="static/images/projects/bamazon.png" alt="Storefront-SQL")
            figcaption
              a.icon.icon_link(href="https://github.com/mcollums/Storefront-SQL" rel="nofollow" target="_blank") Command Line Storefront using mySQL, and Inquirer on Node.js.
          //- figure.projects__item
          //-   img(src="static/images/projects/3.jpg" alt="Mauris a sem semper, maximus metus vitae, efficitur turpis")
          //-   figcaption
          //-     a.icon.icon_link(href="#" rel="nofollow" target="_blank") Nunc sit amet massa id sem pretium luctus
          //- figure.projects__item
          //-   img(src="static/images/projects/4.jpg" alt="Nunc sit amet massa id sem pretium luctus")
          //-   figcaption
          //-     a.icon.icon_link(href="#" rel="nofollow" target="_blank") Nunc sit amet massa id sem pretium luctus
          //- figure.projects__item
          //-   img(src="static/images/projects/7.jpg" alt="Nunc elementum arcu sit amet erat sodales fringilla")
          //-   figcaption
          //-     a.icon.icon_link(href="#" rel="nofollow" target="_blank") Nunc elementum arcu sit amet erat sodales fringilla
          //- figure.projects__item
          //-   img(src="static/images/projects/8.jpg" alt="Cras condimentum venenatis aliquet")
          //-   figcaption
          //-     a.icon.icon_link(href="#" rel="nofollow" target="_blank") Cras condimentum venenatis aliquet
