mixin projects()
  section#projects.common-section
    header.common-section__header
      h2 Projects
      p Donec lorem ante, efficitur ut blandit eu, sollicitudin sed mi

    .projects-wrap
      .grid-container
        .projects
          figure.projects__item
            img(src="static/images/projects/1.jpg" alt="Lorem ipsum dolor sit amet, consectetur adipiscing elit")
            figcaption
              a.icon.icon_link(href="#" rel="nofollow") Lorem ipsum dolor sit amet, consectetur adipiscing elit
          figure.projects__item
            img(src="static/images/projects/2.jpg" alt="Donec lobortis, est iaculis rutrum feugiat")
            figcaption
              a.icon.icon_link(href="#" rel="nofollow") Donec lobortis, est iaculis rutrum feugiat
          figure.projects__item
            img(src="static/images/projects/5.jpg" alt="Duis feugiat, metus eu ullamcorper accumsan, massa risus dictum nisi")
            figcaption
              a.icon.icon_link(href="#" rel="nofollow") Duis feugiat, metus eu ullamcorper accumsan, massa risus dictum nisi
          figure.projects__item
            img(src="static/images/projects/6.jpg" alt="Donec non ligula imperdiet, tincidunt quam ut, pellentesque nisi")
            figcaption
              a.icon.icon_link(href="#" rel="nofollow") Donec non ligula imperdiet, tincidunt quam ut, pellentesque nisi
          figure.projects__item
            img(src="static/images/projects/3.jpg" alt="Mauris a sem semper, maximus metus vitae, efficitur turpis")
            figcaption
              a.icon.icon_link(href="#" rel="nofollow") Mauris a sem semper, maximus metus vitae, efficitur turpis
          figure.projects__item
            img(src="static/images/projects/4.jpg" alt="Nunc sit amet massa id sem pretium luctus")
            figcaption
              a.icon.icon_link(href="#" rel="nofollow") Nunc sit amet massa id sem pretium luctus
          figure.projects__item
            img(src="static/images/projects/7.jpg" alt="Nunc elementum arcu sit amet erat sodales fringilla")
            figcaption
              a.icon.icon_link(href="#" rel="nofollow") Nunc elementum arcu sit amet erat sodales fringilla
          figure.projects__item
            img(src="static/images/projects/8.jpg" alt="Cras condimentum venenatis aliquet")
            figcaption
              a.icon.icon_link(href="#" rel="nofollow") Cras condimentum venenatis aliquet
