mixin services()
  section#services.common-section
    .container.container-main
      header.common-section__header
        h2.tech-heading My Technologies

      .grid-container-main
        ul.services.services_first
          li.services__item-main
            p jQuery
          li.services__item-main
            p Express.js
          li.services__item-main
            p MongoDB
        ul.services.services_second
          li.services__item-main
            p React
          li.services__item-main
            p mySQL
          li.services__item-main
            p Javascript

    .container.container-plus
      header.common-section__header
        h3.plus-heading I've also worked with...

      .grid-container.plus
        .services.services__additional
          .services__item-plus
            h5 Handlebars
          .services__item-plus
            h5 Node.js
          .services__item-plus
            h5 Socket.io
          .services__item-plus
            h5 Heroku/Git
          .services__item-plus
            h5 Sass
          .services__item-plus
            h5 Pug.js
          .services__item-plus
            h5 Firebase
          .services__item-plus
            h5 CLI
          .services__item-plus
            h5 Gulp
