mixin services()
  section#services.common-section
    .container
      header.common-section__header
        h2 Services
        h4 Quisque sollicitudin at lorem vitae gravida
      .grid-container
        ul.services.services_advisory
          li.services__item.icon.icon_research
            h4 Fusce aliquam lorem
            p Nam volutpat nisl arcu, id finibus augue vulputate id. Donec vestibulum enim eget nisi feugiat convallis vitae non orci. Maecenas pretium nunc quis molestie dapibus. Curabitur elementum scelerisque pellentesque. Sed eu nunc ac orci scelerisque vestibulum eu nec sem. Integer lobortis elit ac ligula sollicitudin, quis vehicula lacus commodo.
          li.services__item.icon.icon_strategy
            h4 Sed quis pretium metus
            p Fusce ligula nulla, finibus et suscipit sed, porttitor lacinia lectus. Suspendisse potenti. Nunc gravida mauris nec blandit euismod. Cras ultricies massa arcu, quis convallis turpis varius sit amet. Duis et convallis magna. Phasellus sit amet ex efficitur, facilisis ante a, tincidunt augue. Donec porttitor posuere luctus.
          li.services__item.icon.icon_improve
            h4 Nam vehicula ex vel justo
            p Vestibulum hendrerit rhoncus augue ac consequat. Ut blandit viverra ante, eu iaculis enim dignissim eu. Etiam hendrerit dapibus imperdiet. Pellentesque mattis aliquam dui id dictum. Curabitur at velit a felis volutpat venenatis nec id turpis. Sed sed magna a leo porttitor sodales ac a nisi. In hac habitasse platea dictumst. Fusce imperdiet vulputate arcu, varius tincidunt ex venenatis sed.
        ul.services.services_pm
          li.services__item.icon.icon_plan
            h4 Pellentesque id massa
            p Maecenas dapibus vehicula eros, et lobortis felis elementum id. Praesent finibus purus quis sem tempus, at scelerisque diam convallis. Praesent sagittis egestas quam. Maecenas odio leo, cursus feugiat enim eu, facilisis ullamcorper leo. Curabitur id leo eu tellus semper porta sit amet vitae sapien.
          li.services__item.icon.icon_recover
            h4 Aliquam tincidunt
            p Suspendisse potenti. Vestibulum nulla urna, sodales et lacus eleifend, molestie imperdiet enim. Aliquam erat volutpat. Maecenas eget dolor dictum elit tincidunt accumsan a gravida metus. Quisque posuere mollis diam quis varius. Mauris dignissim, justo quis aliquet facilisis, purus lectus lacinia mi, non vulputate leo ante sit amet odio. Pellentesque lobortis porta quam, eu blandit odio. Vestibulum vel tempus arcu. Nulla porta molestie varius.
          li.services__item.icon.icon_support
            h4 Curabitur at faucibus
            p Nulla iaculis, nisi id imperdiet viverra, nunc purus ornare nibh, at condimentum nibh quam eu velit. Praesent egestas elit vitae consequat auctor. Sed dapibus posuere magna non finibus. Proin tempor lacus at efficitur porttitor. Vivamus commodo erat nec lorem varius placerat. Donec porta eros sit amet enim convallis suscipit.
        .advantages
          h2 Why choose me?
          blockquote
            p Morbi vel orci at ante posuere consequat vel auctor dui. Quisque imperdiet elementum suscipit. Duis dapibus ante vel quam ullamcorper, a accumsan dui viverra. Donec accumsan magna metus, in interdum sem cursus in. Vestibulum sit amet lacus pretium, semper augue vitae, rutrum magna. Maecenas vitae iaculis neque. Aenean semper erat at augue cursus, ac imperdiet urna eleifend. Curabitur vehicula leo vitae orci eleifend lacinia.
            cite John Doe project management consultancy
