mixin services()
  section#services.common-section
    .container.container-main
      header.common-section__header
        h2 My Technologies

      .grid-container.grid-container-main
        ul.services.services_advisory
          li.services__item-main
            p jQuery
          li.services__item-main
            p Express.js
          li.services__item-main
            p MongoDB
        ul.services.services_pm
          li.services__item-main
            p React
          li.services__item-main
            p mySQL
          li.services__item-main
            p Javascript (Plain)

    .container.container-plus
      header.common-section__header
        h3 I've also worked with...

      .grid-container.grid-container-plus
        .services.services__additional
          .services__item-plus
            h5 Handlebars
          .services__item-plus
            h5 Handlebars
          .services__item-plus
            h5 Handlebars
          .services__item-plus
            h5 Handlebars
          .services__item-plus
            h5 Handlebars
          .services__item-plus
            h5 Handlebars
