mixin testimonials()
  section#testimonials.common-section
    .container
      header.common-section__header
        h2 Testimonials
        p Aenean sagittis, turpis ac fermentum elementum, lorem urna lobortis eros, nec ultrices sem tortor sit amet elit
      .grid-container
        ul.testimonials
          li.testimonials__item
            img(src="static/images/logos/placeholder.png" alt="Lorem ipsum dolor sit amet")
            blockquote
              p.icon.icon_ql Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer blandit orci est, id ultrices neque pretium quis. Quisque ut tortor eros. Curabitur id pellentesque dolor. Vivamus eu ullamcorper dolor, sit amet fringilla justo. Sed id eros interdum, ullamcorper diam ut, maximus lectus. Donec dapibus libero a euismod rutrum. Praesent at est ipsum.
              cite
                span.name Giles Posture,
                span.role  CompanyName
          li.testimonials__item
            img(src="static/images/logos/placeholder.png" alt="Lorem ipsum dolor sit amet")
            blockquote
              p.icon.icon_ql In imperdiet odio metus, at ultricies tellus posuere at. Sed tempor ipsum a rhoncus tempor. Praesent orci massa, congue ut sapien ac, commodo lobortis massa. Nam ultricies hendrerit arcu, quis lacinia metus dictum eget. Praesent eu nisi sapien. Proin posuere nec lacus vitae vehicula. Curabitur accumsan nulla ut velit facilisis, eu ultricies ligula tristique
              cite
                span.name Sue Shei,
                span.role  CompanyName

          li.testimonials__item
            img(src="static/images/logos/placeholder.png" alt="Lorem ipsum dolor sit amet")
            blockquote
              p.icon.icon_ql In imperdiet odio metus, at ultricies tellus posuere at.
              cite
                span.name Desmond Eagle,
                span.role  CompanyName
        ul.testimonials
          li.testimonials__item
            img(src="static/images/logos/placeholder.png" alt="Lorem ipsum dolor sit amet")
            blockquote
              p.icon.icon_ql Fusce aliquam lorem in ligula maximus, et fermentum velit ultricies. Sed quis pretium metus. Donec convallis pretium erat in varius. Sed ullamcorper, lacus vel euismod euismod, justo nibh tristique urna, ac sollicitudin nunc elit eget sem.
              cite
                span.name Benjamin Evalent,
                span.role  CompanyName
          li.testimonials__item
            img(src="static/images/logos/placeholder.png" alt="Lorem ipsum dolor sit amet")
            blockquote
              p.icon.icon_ql Nam vehicula ex vel justo suscipit feugiat. Praesent libero augue, consequat in blandit vel, blandit ac tortor. Sed quis pellentesque augue. Sed suscipit erat justo, quis maximus augue porttitor ut. Aliquam erat volutpat. Ut in leo risus. Nam pulvinar felis sit amet mi blandit, nec euismod augue tristique. Nulla at vestibulum massa.
              cite
                span.name Jake Weary,
                span.role  CompanyName

          li.testimonials__item
            img(src="static/images/logos/placeholder.png" alt="Lorem ipsum dolor sit amet")
            blockquote
              p.icon.icon_ql In imperdiet odio metus, at ultricies tellus posuere at. Sed tempor ipsum a rhoncus tempor. Praesent orci massa, congue ut sapien ac, commodo lobortis massa. Nam ultricies hendrerit arcu, quis lacinia metus dictum eget. Praesent eu nisi sapien. Proin posuere nec lacus vitae vehicula. Curabitur accumsan nulla ut velit facilisis, eu ultricies ligula tristique
              cite
                span.name Alan Fresco,
                span.role  CompanyName
