mixin testimonials()
  section#testimonials.common-section
    .container
      header.common-section__header
        h2 Recommendations
        p All recommendations are straight from my LinkedIn! 
      .grid-container
        ul.testimonials
          li.testimonials__item
            img(src="static/images/recs/brian.jpeg" alt="Brian McAlonen")
            blockquote
              p.icon.icon_ql Michelle was a star student at UT's Full Stack Web Development Bootcamp. I was consistently impressed with her hard work and dedication throughout the course. She was a pleasure to assist and could quickly overcome the challenges she was facing. She was a great leader during group projects and would often help out struggling students. I would highly recommend her for a Web Developer role.
              cite
                span.name Brian McAlonen,
                br
                span.role Full Stack Web Developer
          li.testimonials__item
            img(src="static/images/recs/claire.jpeg" alt="Claire Berry")
            blockquote
              p.icon.icon_ql Michelle is talented, creative, and a joy to work with. She is very gifted at facilitating collaboration, helping people with different perspectives on a project find common ground and elegant solutions. She notices details and thinks critically about what she sees, evaluating approaches so that she can change things that aren't working and build on things that are. The care and commitment Michelle brought to her work in our organization were a great asset. She would make an excellent hire.
              cite
                span.name Claire Berry,
                br
                span.role Associate Pastor - WHPC
        ul.testimonials
          li.testimonials__item
            img(src="static/images/recs/phillip.jpeg" alt="Phillip Valdez")
            blockquote
             p.icon.icon_ql During our time at The University of Texas Full Stack Development Bootcamp, Michelle and I collaborated on a project. The project involved a full stack website marketing to catering companies. Michelle's work ethic and skill set was instrumental in our success. She was very comfortable working with the front end of the project, but also took the initiative to help me with some of the back end work. Michelle is quick to learn new technologies (Express Handlebars & SQL) and is a dedicated team member. She was reliably available for team meetings and work sessions. I was very fortunate to work with her and I have no doubt in her future success.
              cite
                span.name Phillip Valdez,
                br
                span.role Full Stack Web Developer
          li.testimonials__item
            img(src="static/images/recs/cynthia.jpeg" alt="Cynthia Mohle")
            blockquote
              p.icon.icon_ql It is rare that you come across someone with Michelle's unique and varied skill set. She expertly filled the role of handling communications, graphic design and IT at Westlake Hills Presbyterian Church for a little over two years. This included thoughtfully incorporating content and her design creations to the website, social media, varied print products, and visual slides; all the while addressing the staff's IT needs of both Mac and PC platforms.
              cite
                span.name Cynthia Mohle,
                br
                span.role Office Manager - WHPC


                 
